.action-content__emoji
  margin-right 8px
  cursor pointer
  .iconemoji
    font-size 20px
    color #868686
  &:hover
    .iconemoji
      color #494949
  &:active
    .iconemoji
      color $themeColor
