@import '../../assets/styles/main.scss';

.logo-content {
  flex: 0 1 200px;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  height: 100%;
  display: flex;
  cursor: pointer;

  &>div {
    @include flex;
    flex: 0 1 140px;
    height: 100%;
    padding-left: 15px;
    cursor: pointer;
    -webkit-app-region: no-drag;

    .logo {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: #fff;
      @include flex;
      justify-content: center;

      .iconwangyiyunyinle {
        position: absolute;
        font-size: 13px;
        color: $thmemColor;
      }
    }

    &>p {
      margin: 0 0 0 6px;
      padding-right: 12px;
      font-size: 16px;
    }
  }
}

.middle-content {
  flex: 1;
}

.header-right {
  @include flex;
  padding: 0 16px;
  -webkit-app-region: no-drag;

  .middle-line {
    display: inline-block;
    width: 1px;
    height: 20px;
    margin-right: 6px;
    background-color: #A82828;
  }

  &>i {
    color: #fff;
    opacity: .8;
    cursor: pointer;
    margin-left: 10px;
    font-size: 13px;

    &.iconpifu,
    &.iconxinxi,
    &.iconshezhi1 {
      font-size: 16px;
    }

    &.iconpifu {
      padding: 0 8px 0 10px;
    }

    &.iconxinxi {
      padding: 0 8px 0 8px;
    }

    &.iconshezhi1 {
      padding: 0 18px 0 8px;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}