.module-header {
  @include flex($direction: column, $align: center);
  width: 100%;
  // padding: 8px 16px 16px;

  &-placeholder {
    width: 100%;
    height: 24px;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

  &-search {
    @include flex($align: center);
    width: calc(100% - 32px);
    margin: 0;
    padding: 0 16px 12px;

    .search_input {
      flex: 1;
      height: 28px;
      border-radius: 6px;
    }

    &__btn {
      @include flex($justify: center, $align: center);
      margin: 0;
      margin-left: 12px;
      width: 26px;
      height: 26px;
      border-radius: 4px;
      cursor: pointer;

      @include light-theme() {
        color: $color-gray-90;
        background-color: $color-input-bkg;

        &:hover {
          background-color: #e4e4e4;
        }
      }

      @include dark-theme() {
        color: $color-gray-05;
        background-color: $color-gray-95;

        &:hover {
          background-color: $color-gray-90;
        }
      }
    }
  }
}
