// Module: CompositionInput
.module-composition-input {
  &__input {
    flex: 1;
    width: 100%;
    word-break: break-word;
    overflow: hidden;

    &__scroller {
      height: 100%;
      overflow: auto;
    }
  }
}
