.module-addressbook {
  flex: 1;
  height: 100%;

  @include light-theme() {
    background-color: $color-white;
  }

  @include dark-theme() {
    background-color: $color-gray-95;
  }

  &-list {
    @include flex($direction: column);
    width: 250px;
    height: 100%;
    border-right: 1px solid;
    overflow: hidden;

    .ReactVirtualized__List:focus {
      outline: none;
    }

    .ReactVirtualized__List-hidden {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include light-theme() {
      background-color: $color-white;
      border-color: $color-sider-border;
      box-shadow: 1px 0 2px $color-sider-border;
    }

    @include dark-theme() {
      background-color: $color-gray-80;
      border-color: $color-gray-60;
      box-shadow: 1px 0 2px $color-gray-90;
    }

    &__header {
      width: 100%;
    }

    &__content {
      width: 100%;
      flex: 1;
    }
  }
}

.module-row {
  @include flex($align: center);
  padding: 0 12px;
  cursor: pointer;

  &__header {
    @include ellipse;
    padding: 0 12px;
    display: flex;
    align-items: flex-end;
    border-top: 1px solid;

    @include light-theme() {
      border-color: $color-sider-border;
    }

    @include dark-theme() {
      border-color: $color-gray-60;
    }

    &-noborder {
      border: none;
    }
  }

  &__name {
    flex: 1;
    @include ellipse;
    margin: 0;
    margin-left: 12px;
  }

  @include light-theme() {
    background-color: $color-white;

    &:hover {
      background: linear-gradient(to right, $color-gray-05, $color-white);
    }
  }

  @include dark-theme() {
    background-color: $color-gray-80;

    &:hover {
      background: linear-gradient(to right, $color-gray-65, $color-gray-80);
    }
  }
}
