.module-roomitem {
  @include flex($align: center);
  height: 108px;
  padding: 0 12px;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid;

  @include light-theme() {
    border-color: $color-roomitem-border;
    background-color: $color-white;

    &:hover {
      background: linear-gradient(to right, $color-gray-05, $color-white);
    }
  }

  @include dark-theme() {
    &:hover {
      background-color: $color-gray-75;
    }
  }

  .module-roomitem-content {
    @include flex($direction: column, $justify: center);
    position: relative;
    flex: 1;
    // height: 100%;
    margin: 0;
    margin-left: 12px;
    overflow: hidden;

    .ant-tag {
      border-radius: 11px;
    }

    &--name {
      font-size: 14px;
      line-height: 28px;
      font-weight: bold;

      @include light-theme() {
        color: #101F36;
      }

      @include dark-theme() {
        color: $color-gray-05;
      }
    }

    &--detail {
      max-width: 86%;
      @include ellipse;
      white-space: normal;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      word-break: keep-all;

      @include light-theme() {
        color: $color-gray-60;
      }

      @include dark-theme() {
        color: $color-gray-25;
      }
    }

    &--timer {
      position: absolute;
      top: 0;
      right: 0;
      color: #B8BBBE;
    }

    &--count {
      position: absolute;
      top: 26px;
      right: 0;

      .ant-badge-count {
        min-width: 18px;
        height: 18px;
        line-height: 18px;
        border-radius: 4px;

        @include light-theme() {
          background-color: #58ACEC;
          // box-shadow: 0 0 0 1px $ultramarine-ui-light;
        }

        @include dark-theme() {
          // background-color: $ultramarine-ui-dark;
          // box-shadow: 0 0 0 1px $ultramarine-ui-dark;
        }
      }
    }
  }

  .module-roomitem-right_content {

    &-timer {

      @include dark-theme() {
        color: $color-gray-60;
      }

      @include dark-theme() {
        color: $color-gray-25;
      }
    }
  }
}
