@import "app/styles/mixin.scss";

.container {
  :global {
    .ant-btn-link {
      color: #888888;

      &:hover {
        color: #3f3f3f;
      }

      &:active {
        color: #333333;
      }
    }
  }

  @include flex($direction:column);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    @include flex($align:center);
    width: 100%;
    height: 36px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #ffffff;

    .title {
      flex: 1;
      margin: 0;
      padding-left: 24px;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
    }
  }

  .content {
    width: 100%;
    // flex: 1;
    // overflow: auto;

    .loader {
      margin: 4px 0 6px;
      text-align: center;
      color: #999999;
    }
  }

  .footer {
    width: 100%;
    height: 146px;
    border-top: 1px solid #e7e7e7;
  }
}
