.system_message-wrapper
	// flexBox(justify:center,align:center)
	max-width 50%
	margin 0 auto 16px
	// line-height 30px
	font-weight 400
	color rgba(255,255,255,.4)
	text-align center
	&>span
		padding 8px 10px
		border-radius 4px
		background-color rgba(60,60,66,1)
		word-break break-all