.module-roomitem {
  @include flex($align: center);
  height: 64px;
  padding: 0 12px;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  // border-bottom: 1px solid;

  @include light-theme() {
    // border-color: $color-roomitem-border;
    background-color: $color-white;

    &:hover {
      background: linear-gradient(to right, $color-gray-05, $color-white);
    }
  }

  @include dark-theme() {
    // border-color: $color-gray-60;
    background-color: $color-gray-80;

    &:hover {
      background: linear-gradient(to right, $color-gray-65, $color-gray-80);
    }
  }
  
  &-active {
    background: linear-gradient(to right, $color-gray-05, $color-white);
  }

  .module-roomitem-content {
    @include flex($direction: column, $justify: center);
    position: relative;
    flex: 1;
    // height: 100%;
    margin: 0;
    margin-left: 12px;
    overflow: hidden;

    .ant-tag {
      border-radius: 11px;
    }

    &--name {
      font-size: 14px;
      line-height: 28px;
      font-weight: bold;

      @include light-theme() {
        color: #101F36;
      }

      @include dark-theme() {
        color: $color-gray-05;
      }
    }

    &--detail {
      max-width: 86%;
      @include ellipse;
      white-space: nowrap;
      // display: -webkit-box;
      // -webkit-box-orient: vertical;
      // -webkit-line-clamp: 2;
      word-break: keep-all;

      @include light-theme() {
        color: $color-gray-60;
      }

      @include dark-theme() {
        color: $color-gray-25;
      }
    }
  }

  .module-roomitem-right_content {
    @include flex($direction: column, $justify: center);
    margin: 0;

    &--timer {
      line-height: 18px;

      @include light-theme() {
        color: #B8BBBE;
      }

      @include dark-theme() {
        color: $color-gray-25;
      }
    }

    &--count {
      align-self: flex-end;
      margin-top: 4px;

      .ant-badge-count {
        min-width: 18px;
        height: 18px;
        line-height: 18px;
        border-radius: 4px;

        @include light-theme() {
          background-color: $themeColor;
          // box-shadow: 0 0 0 1px $ultramarine-ui-light;
        }

        @include dark-theme() {
          background-color: $themeColor;
          // box-shadow: 0 0 0 1px $ultramarine-ui-dark;
        }
      }
    }
  }
}
