:global {
  .ant-layout-header {
    height: 52px;
    padding: 0 13px 0 18px;
    color: #fff;
    background-color: #252529;
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

  .ant-layout-sider {
    background-color: #3ba0e9;
  }
}

.layout {
  height: 100%;
}
