.action-content__emoji {
  margin-right: 8px;
  cursor: pointer;
  .iconemoji {
    font-size: 20px;
    opacity: .8;

    @include light-theme() {
      color: $color-gray-60;
    }

    @include dark-theme() {
      color: $color-gray-25;
    }
  }
  &:hover {
    .iconemoji{
      opacity: 1;
    }
  }
  &:active {
    .iconemoji {
      color: $themeColor;
    }
  }
}
