// Module: Emoji
@mixin emoji-size($size) {
  &--#{$size} {
    width: $size;
    height: $size;
    &--inline {
      display: inline-block;
      vertical-align: bottom;
      background-size: $size $size;
    }
  }
  &__image--#{$size} {
    width: $size;
    height: $size;
    transform: translate3d(0, 0, 0);
    vertical-align: baseline;
  }
}

.module-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-family: auto;

  @include light-theme() {
    caret-color: $color-gray-90;
  }

  @include dark-theme() {
    caret-color: $color-gray-05;
  }

  @include emoji-size(16px);
  @include emoji-size(18px);
  @include emoji-size(20px);
  @include emoji-size(24px);
  @include emoji-size(28px);
  @include emoji-size(32px);
  @include emoji-size(48px);
  @include emoji-size(64px);
  @include emoji-size(66px);
}
