@import "app/styles/mixin.scss";

.module-roomitem {
  @include flex($align: center);
  height: 64px;
  padding: 0 12px;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;

  .ant-badge-count {

    @include light-theme() {
      background-color: $ultramarine-ui-light;
      box-shadow: 0 0 0 1px $ultramarine-ui-light;
    }

    @include dark-theme() {
      background-color: $ultramarine-ui-dark;
      box-shadow: 0 0 0 1px $ultramarine-ui-dark;
    }
  }

  @include light-theme() {
    &:hover {
      background-color: $color-gray-05;
    }
  }

  @include dark-theme() {
    &:hover {
      background-color: $color-gray-75;
    }
  }

  .module-roomitem-middle_content {
    @include flex($direction: column, $justify: center);
    flex: 1;
    height: 100%;
    margin: 0;
    margin-left: 12px;
    overflow: hidden;

    &-name {
      font-size: 14px;
      font-weight: bold;

      @include light-theme() {
        color: $color-gray-90;
      }

      @include dark-theme() {
        color: $color-gray-05;
      }
    }

    &-detail {
      @include ellipse;
      max-width: 100%;

      @include light-theme() {
        color: $color-gray-60;
      }

      @include dark-theme() {
        color: $color-gray-25;
      }
    }
  }

  .module-roomitem-right_content {

    &-timer {

      @include dark-theme() {
        color: $color-gray-60;
      }

      @include dark-theme() {
        color: $color-gray-25;
      }
    }
  }
}
