.module-home {
  flex: 1;
  height: 100%;
  @include flex();

  &-sider {
    @include flex($direction: column);
    width: 250px;
    height: 100%;
    border-right: 1px solid;

    @include light-theme() {
      background-color: $color-white;
      border-color: $color-sider-border;
      box-shadow: 1px 0 2px $color-sider-border;
    }

    @include dark-theme() {
      background-color: $color-gray-80;
      border-color: $color-gray-60;
      box-shadow: 1px 0 2px $color-gray-65;
    }

    .ka-wrapper {
      flex: 1;
      width: 100%;

      .ka-content {
        @include flex($direction: column);
        height: 100%;
      }
    }
  }

  &-content {
    flex: 1;
    height: 100%;

    @include light-theme() {
      background-color: $color-white;
    }

    @include dark-theme() {
      background-color: $color-gray-95;
    }
  }
}

.module-app-li {
  margin-top: 4px;

  &--active {
    background: red;
  }
}
